.pokemons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.pokemon-container {
  border: 1px solid #bbb;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
}

.pokemon-container img {
  width: 100%;
  object-fit: contain;
}

.pokemon-container p {
  margin-left: 8px;
}
